/*  ==========================================================================
    General styles
    ==========================================================================
*/
:root {
    /* Colour palette */
    --background-color: #232527;
    --box-color: #0a0b0c;
    --border-color: #ccc;
    --border-radius: 4px;
    --padding: 10px;
    --font-size: 16px;
    --text-color: white;

    /* Constants */
}
/*  ==========================================================================
    General styles
    ==========================================================================
*/
body {
    background-color: var(--background-color);
    color: var(--text-color);
}
a {
    text-decoration: none;
}
/*  ==========================================================================
    Sitewide styles
    ==========================================================================
*/
.container {
    max-width: 1280px;
    margin: auto;
}
.page-title {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.mainframe {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.input,
.output {
    flex-basis: 45%;
}
.input textarea,
.output .box {
    font-family: monospace, Times;
    width: 100%;
    height: 300px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    font-size: var(--font-size);
    box-sizing: border-box;
    background-color: var(--box-color);
    color: var(--text-color);
}
.input textarea {
    resize: vertical;
}
.output .box {
    font-family: 'Computer Modern Serif', 'DejaVu Math TeX Gyre', monospace, Times;
    overflow-y: auto;
}
.footer-links {
    background-color: violet;
    text-align: center;
}
.footer-links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer-links li {
    display: inline;
}
.footer-links li a {
    text-decoration: none;
}
blink {
    animation: blink_anim 1s steps(1, end) infinite;
}
@keyframes blink_anim {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*  Media queries
    ==========================================================================
*/
@media screen and (max-width: 768px) {
    .mainframe {
        flex-flow: column wrap;
    }
}